@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.inputBox{
  @apply flex place-items-center
}
.inputBox input{
  @apply px-[1rem] py-[0.5rem] outline-none
}


.hover-style-1{
  margin: 30px 0;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
.hover-style-1:hover{
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0 0 #000;
}
.hover-style-1:active{
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 0 0 #000;
}
@font-face {
  font-family: "Monserrat";
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf") format("ttf");
}